/* Header */
header {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    padding: 20px;
  }
  
  header,
  .pros {
    padding: 20px;
  }
  
  
  .logo {
    width: 100px;
    height: 100px;
    float: left;
  }
  
  nav {
    float: right;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  /* Main */
  . Main {
    background-color: #a16fe4;
    padding: 20px;
  }
  
  .pros {
    background-position: 75% 0;
    background-repeat: no-repeat;
    background-size: 90rem auto;
    background-color: #fff;
    padding: 20px;
  }
  
  .pros h2 {
    float: right;
  }
  
  .pros .button {
    text-align: center;
    margin-top: 20px;
  }
  
  .pros .button button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* Quote */
  .quote {
    background-color: #fff;
    padding: 20px;
  }
  
  .quote img {
    float:left;
    margin-right: 20px;
  }
  
  .quote blockquote {
    margin: 0;
  }
  
  .quote cite { display: flex;
    flex-direction: row;
    float:left;
    font-size: 12px;
    color: #fff;
  }
  
  /* Video */
  .video-block {
    margin-bottom: 20px;
  }
  
  .video-block img {
    width: 25%;
  }
  
  .video-block h3 {
    margin-top: 0;
  }
  
  .video-block .author-block {
    float: left;
  }
  
  .video-block .rating-block {
    float: right;
  }
  
  /* Membership */
  .membership {
    background-color: #0b1227;
    padding: 20px;
  }
  
  .membership h2 {
    text-align: center;
  }
  
  .membership .block-item {
    margin-bottom: 20px;
  }
  
  .membership .block-item img {
    width: 100%;
  }
  
  .membership .button {
    text-align: center;
  }
  
  .membership .button button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* FAQ */
  .faq {
    background-color: #fff;
    padding: 20px;
  }
  
  .faq h2 {
    text-align: center;
  }
  
  .faq .row-block {
    margin-bottom: 20px;
  }
  
  .faq .row-block .item-block {
    float: left;
    width: 50%;
  }
  
  /* Footer */
  footer {
    background-color: #0b1227;
    padding: 20px;
  }
  
  footer img {
    text-align: left;
    width: 100px;
  }
  footer a {
    text-align: right;
  }
  footer ul { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px 30px
  }
  
  footer p {color: #fff;
    text-align: center;
    margin-top: 0;
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    .pros {
      padding: 10px;
    }
  
    .video-block {
      margin-bottom: 10px;
    }
  
    .membership {
      padding: 10px;
    }
  
    .faq {
      padding: 10px;
    }
  
    footer {
      padding: 10px;
    }
  